.left {
    display: flex;
    flex-direction: column; 
    padding-top: 10%;
    width: 50%;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0; 
    padding-left: 20%;
    overflow: hidden;
    box-sizing: border-box; 
}

.left .about-me {
    flex: 0 1 auto; 
}

.left .src-list {
    flex: 0 1 auto; 
}

.left .contact-list {
    display: flex;
    flex-direction: column; 
    justify-content: flex-end; 
    padding: 0;
    margin-top: auto; 
}

.left .contact-list ol {
    display: flex;
    justify-content: center; 
    padding: 0;
    margin-bottom: 30%;
    list-style-type: none; 
}

.left .contact-list li {
    margin: 10px; 
}

.left .contact-list img {
    max-width: 25px; 
    height: auto; 
}
.left li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.left h1 {
    line-height: 25px;
    font-size: 32px;
}

.left h2 {
    line-height: 0;
    font-size: 18px;
}

.left h3 {
    font-size: 12px;
    color: #637084;
}

.left ul li {
    font-size: 12px;
    margin: 10px;
    font-weight: bold;
    color: #64748b;
    letter-spacing: 3px;
    cursor: pointer;
}

.left ul li:hover {
    color: white;
}

.left ol {
    display: flex;
}

.left ol li {
    margin: 10px;
}

.left li img {
    max-width: 25px;
}
.icon-social{
    color: #637084;
}
.jeden {
    width: 100px;
    height: 100px;
  }
.isCurrent a{
    color: red;
}
.menu-link {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    text-decoration: none;
    color: #64748b; 
    transition: padding-left 0.3s ease, color 0.3s ease; 
}

.menu-link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; 
    height: 0.5px;
    background-color: grey; 
    transition: width 0.3s ease, background-color 0.3s ease; 
}

.menu-link:hover::before {
    width: 40px; 
    background-color: white; 
}

.menu-link.active::before {
    width: 30px; 
    background-color: white; 
}

.menu-link:hover {
    color: white; 
    padding-left: 50px; 
}

.menu-link.active {
    color: white; 
    padding-left: 50px; 
}

  