.text-about-me p{
    font-size: 14px;
    color: #4b586e;
}
.text-about-me .highlight {
    color: #ffffff; /* Kolor tekstu */
    transition: color 0.3s ease, background-color 0.3s ease; /* Animacje */
  }
  
  .text-about-me .highlight:hover {
    color: #4cbcbf; /* Kolor tekstu po najechaniu */
    cursor: pointer;
  }
  