.text-about-me p{
    font-size: 14px;
    color: #4b586e;
}
.text-about-me .highlight {
    color: #ffffff; 
    transition: color 0.3s ease, background-color 0.3s ease; 
  }
  
  .text-about-me .highlight:hover {
    color: #4cbcbf; 
    cursor: pointer;
  }
  